contracts/target
**/out
**/target

.dockerignore
.env
*.md
*.txt


**/.pnpm-store/
**/.vite/
**src/sway-api/
**deploy

**/.pnpm-store/

**/pnpm-lock.yaml
**/*.lock

**/__pycache__
**/.pnpm-store/
.codebase

storage/uploads
scripts