contracts/target
**/out
**/target
react-app/public/fuel-contracts.local.json
react-app/.env.contracts.local
react-app/.env.contracts.*.local
react-app/src/sway-api/contracts/*Factory.ts
.dockerignore
.env
*.md
*.txt


react-app/.pnpm-store/
react-app/.vite/
react-app/src/sway-api/
react-app/deploy

indexer/.pnpm-store/
**/.pnpm-lock.yaml
**/*.lock

**/__pycache__