services:
  envio-postgres:
    image: postgres:17.5
    container_name: cinder-envio-postgres
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d envio-dev"]
      interval: 5s
      timeout: 3s
      retries: 20

  graphql-engine:
    image: hasura/graphql-engine:v2.43.0
    container_name: cinder-graphql-engine
    restart: unless-stopped
    depends_on:
      envio-postgres:
        condition: service_healthy
    ports:
      - "5003:8080"
    env_file:
      - .env
    healthcheck:
      test: timeout 1s bash -c ':> /dev/tcp/127.0.0.1/8080' || exit 1
      interval: 5s
      timeout: 2s
      retries: 50
      start_period: 5s

  indexer:
    image: node:20-bookworm
    container_name: cinder-indexer
    restart: unless-stopped
    working_dir: /app
    depends_on:
      envio-postgres:
        condition: service_healthy
      graphql-engine:
        condition: service_healthy
    volumes:
      - ./indexer:/app
      - indexer_node_modules:/app/node_modules
      - indexer_generated_node_modules:/app/generated/node_modules
    env_file:
      - .env

    command: sh -c "corepack enable && corepack prepare pnpm@8.15.9 --activate && pnpm install --no-frozen-lockfile && cd generated && pnpm install --no-frozen-lockfile && pnpm run build && cd /app && TUI_OFF=true pnpm start"

  sse-service:
    build:
      context: ./sse-service
      dockerfile: Dockerfile
    ports:
      - "5002:8000"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    container_name: cinder-sse-service
    restart: unless-stopped
    depends_on:
      graphql-engine:
        condition: service_healthy
    env_file:
      - .env
  cinder:
    build:
      context: ./cinder
      dockerfile: Dockerfile
    ports:
      - "5000:5173"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - ./cinder:/app
      - cinder_node_modules:/app/node_modules
      - ./assets:/assets
    container_name: cinder
    restart: unless-stopped
    env_file:
      - .env
  storage:
    build:
      context: ./storage
      dockerfile: Dockerfile
    ports:
      - "5001:8000"
    volumes:
      - ./storage/uploads:/data/uploads
    container_name: cinder-storage
    restart: unless-stopped

  fuel-core:
    image: ghcr.io/fuellabs/fuel-core:sha-6889ed1-20251201045837
    env_file:
      - .env
    environment:
      - PORT=$LOCAL_NODE_PORT
    ports:
      - "4000:4000"
    volumes:
      - fuel_db:/data
    restart: unless-stopped
volumes:
  db_data:
  fuel_db:
  cinder_node_modules:
  indexer_node_modules:
  indexer_generated_node_modules: