version: '3.8'
services:
  cinder-app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5000:5173"
    volumes:
      - ./react-app:/app
      - /app/node_modules
      - ./assets:/assets
    container_name: cinder-prototype
    restart: unless-stopped
    env_file:
      - .env