@import url('@styles/base/variables.css');
@import url('@styles/base/globals.css');
@import url('@styles/components/buttons.css');
@import url('@styles/components/app-header.css');
@import url('@styles/components/header.css');
@import url('@styles/components/token-card.css');
@import url('@styles/components/amount-selector.css');
@import url('@styles/components/airdrop.css');
@import url('@styles/pages/holdings.css');
@import url('@styles/pages/token-details.css');
@import url('@styles/pages/create-token-page.css');
@import url('@styles/pages/leaderboard.css');
@import url('@styles/modal.css');
@import url('@styles/welcome-screen.css');
@import url('@styles/welcome-text.css');
@import url('@styles/welcome-buttons.css');
@import url('@styles/progress-dots.css');
@import url('@styles/bonding-curve.css');
@import url('@styles/discovery.css');
@import url('@styles/notifications/coin-created.css');
@import url('@styles/components/layout.css');
@import url('@styles/components/match.css');
@import url('@styles/base/fonts.css');
