/* App Header Styles */

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
}

.header-container .logo {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: #253539;
}


.logo img {
    width: 100%;
    height: 4rem;
    object-fit: contain;
}

.header-buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header-create-btn {
    border-radius: 24px !important;
    padding: 10px 20px !important;
    font-size: 14px !important;
    background: #DF4847;
}

.header-button-profile {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #000;
}

/* Mobile Header Responsive */
@media (max-width: 768px) {
    .app-header {
        height: 10dvh;
    }

    .header-left {
        display: flex;

    }

    .fuel-balance {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .fuel-balance img {
        width: 20%;
    }

    .fuel-balance-text {
        margin-right: .5rem;
        font-weight: 600;
    }

    .header-container {
        /* For the waitlist video, change back to 1rem 1rem */
        padding: 2rem 2rem;
    }
    
    .header-container .logo {
        font-size: 1.25rem;
    }
    
    .logo img {
        width: 100%;
        height: 2rem;
    }
    
    .header-create-btn {
        padding: 8px 16px !important;
        font-size: 12px !important;
    }
} 